<div class="col-lg-6">
  <div class="card shadow mt-5">
    <div class="card-body">
      <p class="lead"><%= @event_count %> Total events</p>
      <p class="lead"><%= @upcoming_event_count %> Total upcoming events</p>
      <p class="lead"><%= @past_event_count %> Total events organized recently</p>
      <%= link_to 'View All Events', admin_events_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
<div class="col-lg-3">
  <div class="card shadow mt-5">
    <div class="card-body">
      <p class="lead"><%= @booking_count %> Total bookings</p>
      <p class="lead">$ <%= @revenue_earned %> Total revenue</p>
      <%= link_to 'View All Bookings', admin_bookings_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
<div class="col-lg-3">
  <div class="card shadow mt-5">
    <div class="card-body">
      <p class="lead"><%= @customer_count %> Total customers</p>
      <%= link_to 'View All Customers', admin_customers_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>

<div class="col-lg-6">
  <div class="card shadow mt-5">
    <div class="card-body">
      <p class="lead fw-bold"><%= @active_refunds.count %> Refunds to be processed</p>
      <ul class="list-group">
        <% @active_refunds.each do |refund| %>
          <li class="list-group-item">
            <p class="lead"><%= link_to refund.booking.event.name, admin_event_path(refund.booking.event) %></p>
            <p class="lead"><%= refund.number_of_tickets %> tickets ($ <%= refund.amount_to_be_refunded %>) to be refunded</p>
            <%= link_to "Process Refund", process_refund_admin_refund_path(refund), class: "btn btn-primary", method: :patch %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="col-lg-6">
  <div class="card shadow mt-5">
    <div class="card-body">
      <p class="lead fw-bold"><%= @refundable_bookings.count %> Refundable Bookings</p>
      <% @refundable_bookings.each do |booking| %>
        <p class="lead"><%= link_to booking.event.name, admin_booking_path(booking) %></p>
      <% end %>
    </p>
  </div>
</div>

