<div class="col-lg-6">
  <div class="card shadow mt-5">
    <div class="card-body">
      <p class="lead"><%= @event_count %> Total events</p>
      <p class="lead"><%= @upcoming_event_count %> Total upcoming events</p>
      <p class="lead"><%= @past_event_count %> Total events organized recently</p>
    </div>
  </div>
</div>
<div class="col-lg-3">
  <div class="card shadow mt-5">
    <div class="card-body">
      <p class="lead"><%= @booking_count %> Total bookings</p>
      <p class="lead">$ <%= @revenue_earned %> Total revenue</p>
    </div>
  </div>
</div>
<div class="col-lg-3">
  <div class="card shadow mt-5">
    <div class="card-body">
      <p class="lead"><%= @customer_count %> Total customers</p>
    </div>
  </div>
</div>